<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="applicationDao" class="com.ebaas.dao.ApplicationDAO">
        <constructor-arg ref="baseDao" />
    </bean>

    <bean id="personDao" class="com.ebaas.dao.PersonDAO">
        <constructor-arg ref="baseDao" />
    </bean>

    <bean id="userOnboardingDao" class="com.ebaas.dao.UserOnboardingDAO">
        <constructor-arg ref="baseDao" />
    </bean>

    <bean id="baseDao" class="com.ebaas.dao.BaseDAO">
        <constructor-arg value="localhost" />
        <constructor-arg value="9300" />
    </bean>

</beans>