<div class="container" ng-controller="loginController">

<div ng-hide="authenticated">
    <form class="form-inline" style="padding-top:30px">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email" ng-model="person.email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model="person.password">
        </div>
        <button type="submit" class="btn btn-success" ng-click="login()">Sign in</button>
    </form>
    <a href="#" style="color:#ffffff" ng-click="registration()">Sign up</a>
    <label>/</label>
    <a href="#" style="color:#ffffff" ng-click="forgot()">Forgot password</a>
</div>
<div ng-show="authenticated">
    <a href="#" style="color:#ffffff" ng-click="signout()">Sign out</a>
</div>
</div>
