<div class="container col-md-3 col-md-offset-3" ng-controller="signupController">
    <form class="form-horizontal" style="padding-top:30px">
        <div class="form-group">
            <label class="sr-only" for="emailInput">Email address</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email" ng-model="person.email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="organizationInput">Organization</label>
            <input type="password" class="form-control" id="organizationInput" placeholder="Organization" ng-model="person.organization">
        </div>
        <div class="form-group">
            <label class="sr-only" for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="person.password">
        </div>
        <div class="form-group">
            <label class="sr-only" for="confirmPassowrdInput">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassowrdInput" placeholder="Confirm Password" ng-model="person.confirmPassword">
        </div>
        <button type="submit" class="btn btn-success" ng-click="signup()">Sign up</button>
    </form>
</div>