<div class="container col-lg-5 col-sm-offset-4" ng-controller="signupController">
    <form class="form-signup" >
        <h2 class="form-signin-heading">Please sign up</h2>
        <label for="inputName" class="sr-only">Name</label>
        <input ng-model="user.name" type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input ng-model="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="confirmtPassword" class="sr-only">Confirm Password</label>
        <input ng-model="user.confirmPassword" type="password" id="confirmtPassword" class="form-control" placeholder="Confirm Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;" ng-click="signup()">Sign up</button>
    </form>
</div>